:root {
  --bg-light: rgba(240, 248, 255, 0.605);
  --txt: #121212;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--txt);
  background-color: var(--bg-light);
  font-family: system-ui, sans-serif;
}
