/* Roboto font-family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg: #bbbbbb;
  --txt: #121212;
  --font: 'Roboto', system-ui, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--txt);
  background-color: var(--bg);
}
